*
!ops/tilt
!package.json
!yarn.lock
!lerna.json
!.npmrc
!.deps
!.env
!packages/
!.eslintrc.json
!.eslintignore
!postcss.config.js
!tsconfig.json
!scripts/
*/**/.nuxt
*/**/dist
*/**/.env
*/**/node_modules
!.env
